build_host/
build_artifacts_host/
build_cross/
build_artifacts_cross/
qt5/
test_qt_helloworld/build-test_qt_helloworld/
my_external_tree/board/my_company/my_board/qemu_ssh_key/my_qemu_ssh_key.pub
my_external_tree/board/my_company/my_board/qemu_ssh_key/my_qemu_ssh_key
my_external_tree/board/my_company/my_board/fs-overlay/root/.ssh/authorized_keys
